<div class="border-bottom border-gray-dark py-3">
  <input type="search" id="filter" name="q" class="form-control width-full js-autosearch-field" placeholder="Find a gist" autocomplete="off" aria-label="Find a gist…" value="">
</div>
<!-- hidden -->
<div id="search_results" class="TableObject border-bottom border-gray-light py-3">
  <div class="user-repo-search-results-summary TableObject-item TableObject-item--primary v-align-top" style="display:none">
    <strong id="search_count"></strong>
    results for gists matching
    <strong id="search_string"></strong>
  </div>
</div>
